/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/C7bP6N8yXZ-PGLzbFLtQKRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('../fonts/iLJc6PpCnnbQjYc1Jq4v0xJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/5pCv5Yz4eMu9gmvX8nNhfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/gEkd0pn-sMtQ_P4HUpi6WBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/iPF-u8L1qkTPHaKjvXERnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/mTzVK0-EJOCaJiOPeaz-hxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ16-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ15X5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ10Tj6bCwSDA5u__Fbjwz3f0.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ1xWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ16aRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ1_8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@-webkit-keyframes fontbulger {

0% {box-shadow: inset 0px 0px 10px rgba(255,255,255,.3), 0px 0px 10px rgba(255,255,255,.5);
 transform: scale(.8, .8); 
}
10% {box-shadow: inset 0px 0px 10px rgba(255,255,255,.4), 0px 0px 10px rgba(255,255,255,.6);
 transform: scale(.85, .85);
}
20% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.5), 0px 0px 20px rgba(255,255,255,.7);
 transform: scale(.9, .9);
}
30% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.6), 0px 0px 20px rgba(255,255,255,.8);
 transform: scale(.95, .95);
}
40% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.7), 0px 0px 30px rgba(255,255,255,.9);
 transform: scale(1, 1);
}
50% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.8), 0px 0px 30px rgba(255,255,255,1);
 transform: scale(1.05, 1.05);
}
60% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.7), 0px 0px 30px rgba(255,255,255,.9);
transform: scale(1, 1); 
}
70% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.6), 0px 0px 30px rgba(255,255,255,.8);
transform: scale(.95, .95); 
}
80% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.5), 0px 0px 20px rgba(255,255,255,.7)
}
80% {box-shadow: inset 0px 0px 20px rgba(255,255,255,.4), 0px 0px 20px rgba(255,255,255,.6);
transform: scale(.85, .85); 
}
100% {box-shadow: inset 0px 0px 30px rgba(255,255,255,.3), 0px 0px 10px rgba(255,198,255,.5);
transform: scale(.8, .8);
}
}
.round-warp{ border: solid 1px rgba(255,255,255,.2); padding:10px 18px 20px; position:relative}
.round-warp h4{ position:absolute; top:-15px; left:40px; background:#28292e; padding:0 10px; font-size:20px;}
.round-box{ overflow:hidden;     padding: 10px 0 10px 3.5%;}
.round-box li{ position:absolute; list-style:none}
.round-left{ font-size:50px; line-height:200px; height:200px; display:inline-block; color: transparent; -webkit-text-stroke: 1px rgba(255,255,255,.3); }
.round{ width:150px; height:150px;  display:inline-block; border-radius:150px; position:absolute;
box-shadow: inset 0px 0px 30px rgba(255,255,255,.3), 0px 0px 20px rgba(0,0,0,.2);
}
.round1{background:#40a792;}
.round2{background:#9bc65b;}
.round3{background:#e89e3f;}
.round4{background:#c64f47;}
.round5{background:#863770;}
.round6{background:#5c6a75;}
.round7{background:#20497d;}
.round-text span{ color:rgba(255,255,255,.7);  left:0; text-align:center; position:absolute; z-index:1}
.round-text span b{font-weight:200; color:#fff}
.round-box li.round-text{ position:relative; display:inline-block;  overflow:hidden; width:200px; height:200px; padding:20px; }
div.round-active .round{
    -webkit-animation: fontbulger 1s infinite linear;
	animation: fontbulger 1s infinite linear;
}
.round-box li.round-end{ opacity:.7}

.round-box{ position:relative; height:300px;}
.round-b1,.round-b2,.round-b3,.round-b4.round-b5{ position:absolute;}
.round-b1{top:20px;left:18%}
.round-b2{top:20px;left:65%}
.round-b3{top:80px;left:35%}
.round-b4{top:150px;left:10%}
.round-b5{top:150px;left:70%}
.size1 .round{ width: 100px;height: 100px;border-radius: 100px;}
.size2 .round{ width: 125px;height: 125px;border-radius: 125px;}
.size3 .round{ width: 150px;height: 150px;border-radius: 150px;}

.line2{}

.size1 span{ top:26px; width:100px; }
.size1 span b{ font-size:20px;  }
.size2 span{ top:33px;  width:125px; }
.size2 span b{ font-size:28px;  }
.size3 span{ top:43px; width:150px; }
.size3 span b{ font-size:38px;  }
.line{ width:100px; height:1px; display:block; background:rgba(255,255,255,.5); position:absolute; left:1px; right:1px}
.line1{width:200px; left:190px; top:100px; 
     ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);}
.line2{width:250px; left:390px; top:110px; 
     ms-transform: rotate(165deg);
    -moz-transform: rotate(165deg);
    -webkit-transform: rotate(165deg);
    -o-transform: rotate(165deg);
    transform: rotate(165deg);}
	
.line3{width:200px; left:190px; top:200px; 
     ms-transform: rotate(165deg);
    -moz-transform: rotate(165deg);
    -webkit-transform: rotate(165deg);
    -o-transform: rotate(165deg);
    transform: rotate(165deg);}
	
.line4{width:270px; left:400px; top:200px; 
     ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);}
